.card{
    width: 80%;
    padding: 5%;
    position: relative;
    margin: 10%;
    margin-top: 1%;
}
body{
    background:linear-gradient(black,rgb(66, 27, 27)) ;
}
.conteiner-bar{
width: 30px;
}
.link-git{
    position: relative;
}